# KNN CLASSIFICATION

In [1]:
import numpy as np
import pandas as pd

In [10]:
data = pd.read_csv('Social_Network_Ads.csv')  
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
X = data[['Age', 'EstimatedSalary']].values
y = data['Purchased'].values

In [4]:
def euclidean_distance(x1, x2):
    return np.sqrt(np.sum((x1 - x2) ** 2))

In [5]:
def knn_predict(X, y, new_data, k):
    distances = []
    for i in range(len(X)):
        dist = euclidean_distance(X[i], new_data)
        distances.append((dist, y[i]))
    distances.sort(key=lambda x: x[0])

    neighbors = distances[:k]
    class_votes = {0: 0, 1: 0}
    
    for neighbor in neighbors:
        class_label = neighbor[1]
        class_votes[class_label] += 1
    
    return max(class_votes, key=class_votes.get)

In [6]:
new_data = np.array([90, 60000])

In [7]:
k = 5

In [8]:
prediction = knn_predict(X, y, new_data, k)

In [9]:
if prediction == 0:
    print("Predicted class: Not Purchased")
else:
    print("Predicted class: Purchased")

Predicted class: Not Purchased